.profile {
  width: 880px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  padding-top: 40px;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

@media screen and (max-width: 1179px) {
  .profile {
    width: 282px;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

